@import 'jeet'
@import 'rupture'

rupture.enable-em-breakpoints = true

// Normalize Mode, engage!
normalize-css()
base()

// Font Mixin
font-size(n)
  font-size n * 1px
  font-size n * 1rem
  line-height n * 1px
  line-height n * 1rem

a, a:link
  cursor pointer

html
  font-size 1px
body
  background white
  font-family 'Open-Sans', sans-serif
