@import 'jeet'
@import 'axis'
@import 'rupture'

rupture.enable-em-breakpoints = true

// Normalize Mode, engage!
normalize-css()
base()

// Font Mixin
font-size(n)
font-size n * 1px
font-size n * 1rem

a, a:link
  cursor pointer

body
  background white
  font-family 'Open-Sans', sans-serif

table
  tfoot, tbody
    th
      border-top 1px solid #DDD
a
  color nephritis

footer
  padding-bottom 30px
  text-align center
